* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 100%;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    margin-top: .5rem;
}

.main {
    padding: 2rem;
}

.board {
    margin: 1rem auto 0;
    width: 500px;
    height: 500px;
    background-color: rgb(168, 168, 168);
    border-radius: 2rem;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    padding: 1rem;
}

.square1 {
    border-right: 10px white solid;
    border-bottom: 10px white solid;
    border-radius: 0 5px;
}

.square2 {
    border-bottom: 10px white solid;
}

.square3 {
    border-left: 10px white solid;
    border-bottom: 10px white solid;
    border-radius: 5px 0;
}

.square4 {
    border-right: 10px white solid;
}

.square6 {
    border-left: 10px white solid;
}

.square7 {
    border-top: 10px white solid;
    border-right: 10px white solid;
    border-radius: 5px 0;
}

.square8 {
    border-top: 10px white solid;
}

.square9 {
    border-top: 10px white solid;
    border-left: 10px white solid;
    border-radius: 0 5px;
}

button {
    background-color: transparent;
    font-size: 8.5rem;
    border: none;
    cursor: pointer;
}

#reset {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: .5rem 1rem;
    background-color: black;
    color: white;
    border-radius: 15px;
    transition: .2s;
}

#reset:hover {
    background-color: white;
    color: black;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
}

.start-form {
    position: absolute;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.start-form h3 {
    margin-bottom: .5rem;
    font-size: 2rem;
}

.form-control label {
    font-size: 1.2rem;
}

.form-control input {
    display: block;
    margin: .5rem 0;
    padding: 10px .5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
    border: none;
}

.form-control button {
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    transition: .2s;
}

.form-control button:hover {
    background-color: white;
    color: black;
}

.form-control button:last-child {
    margin-right: 0;
}

.form-control:last-child {
    margin-top: 1rem;
}